* {
    text-align: center;
}

body{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
}

main div{
    margin-bottom: 15px;
}