* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../img/iguana-1.jpg);
  background-size: cover;
}
#titulo {
  margin: 1em;
  background-color: yellowgreen;
  border-radius: 50%;
  padding: 0.5em;
}
#contenedor {
  margin: 1em;
  width: 70%;
  height: auto;
  border: 2px dotted black;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  /* color: darkkhaki; */
}
#container {
  margin: 1em;
  width: auto;
  height: auto;
  justify-content: center;
  /* border: 2px solid black; */
}
#grid-container {
  margin: 1em;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
}
#valor2 {
  font-size: 5em;
  background-color: aquamarine;
}
#valor1,
#valor3 {
  font-size: 4em;
  background-color: aquamarine;
}
#btn-ingresar {
  border-radius: 0.3em;
  padding: 0.3em;
  margin: 1em;
  font-size: 2em;
  background-color: aqua;
}

#mensaje {
  margin: 1em;
  font-size: 3em;
  background-color: bisque;
}
